*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea
/swagger/build/*

rpc/generated/*
rpc/bin
rpc/.classpath

.project
.settings/

app/.classpath
app/.project
app/.settings/
app/bin/

chart/.classpath
chart/.project
chart/.settings/

data/.classpath
data/.project
data/.settings/

ui/.classpath
ui/.project
ui/.settings/
ui/bin/
ui/build/*

json/build/*
buildSrc/build

# Ignore the sample configuration package.
app/src/main/java/com/tink/link/configuration